*.c linguist-detectable=false
*.h linguist-language=C++ linguist-detectable=true
*.qrc linguist-language=XML linguist-detectable=true
*.rc linguist-language=C linguist-detectable=true
*.cmake linguist-language=CMake linguist-detectable=true
CMakeLists.txt linguist-language=CMake linguist-detectable=true
