#include <windows.h>

IDI_APP_ICON ICON "r audio player.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 1, 0, 2, 0
	PRODUCTVERSION 1, 0, 2, 0
	FILEFLAGSMASK 0x3fL
	FILEFLAGS 0x0L
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L

BEGIN
	BLOCK "StringFileInfo"

	BEGIN
		BLOCK "040904B0"

		BEGIN
			VALUE "CompanyName", "r"
			VALUE "FileDescription", "r audio player"
			VALUE "FileVersion", "1.0.2"
			VALUE "InternalName", "r audio player"
			VALUE "OriginalFilename", "r audio player.exe"
			VALUE "ProductName", "r audio player"
			VALUE "ProductVersion", "1.0.2"
		END
	END

	BLOCK "VarFileInfo"

	BEGIN
		VALUE "Translation", 0x0409, 1200
	END
END